/**
 * @file.
 * This file contians information about the colors for this websites. All
 * these colors are specified in two phases, the first is the colorscheme
 * and the second is the individual colors of indiviudal items, this also
 * applies to text though typically with the -text- modifier in the varaible
 * name.
 */

/*============= COLOR SCHEME =============*/
$white: white;

$lightgrey: rgb(189, 195, 199);
$grey: rgb(149, 165, 166);
$darkgrey: rgb(127, 140, 141);

$lightyellow: rgb(241, 196, 15);
$yellow: rgb(241, 196, 15);
$darkyellow: rgb(241, 196, 15);

$lightorange: rgb(243, 156, 18);
$orange: rgb(230, 126, 34);
$darkorange: rgb(211, 84, 0);

$lightblue: rgb(26, 188, 156);
$blue: rgb(52, 152, 219);
$darkblue: rgb(41, 128, 185);

$lightred: rgb(231, 76, 60);
$red: rgb(231, 76, 60);
$darkred: rgb(192, 57, 43);

$lightpurple: rgb(155, 89, 182);
$purple: rgb(155, 89, 182);
$darkpurple: rgb(142, 68, 173);

$lightgreen: rgb(46, 204, 113);
$green: rgb(39, 174, 96);
$darkgreen: rgb(22, 160, 133);

$black: rgb(52, 73, 94);


$nav-toggle-bgcolor: $grey;
$nav-bgcolor: rgba(black, 0.8);
$nav-text-color: $white;

$background-color: $white;
$land-color: $orange;
$capital-color: $black;
$entrepreneur-color: $purple;
$labor-color: $red;
$sources-color: $blue;

$column-text-color: $white;

$light-text-color: $white;
$dark-text-color: black;
