$nav-height: 50px;
$nav-toggle-row-height: 3px;
$nav-toggle-size: 30px;
$nav-transition-duration: 0.5s;
$nav-font-size: 1.3em;

$factor-background-rotation: 5deg;
$factor-padding-verticle: 30px;

$column-container-width: 95%;
$column-widget-gap: 10px;
$column-widget-paddding: 5px;
$column-widget-width: 300px;

$content-padding: 10px;
$content-width: 700px;

$factor-history-min-height: 500px;

$heading-font-size: 1.7em;
$regular-font-size: 1.1em;
$body-backgorund-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/nh-surface.jpg);
$font: 'Alegreya Sans', sans-serif;
