@mixin column-layout {
    width: $column-container-width;
    $column-container-margin: (100% - $column-container-width) / 2;
    margin-left: $column-container-margin;
    margin-right: $column-container-margin;

    // Specified float fixes some problems using columns for webkit and moz.
    float: right;

    // Specify the sizes of the columns.
    @include column-count(auto);
    @include column-gap($column-widget-gap);
    @include column-width($column-widget-width);
    @include break-inside(avoid);


    padding: 0;

    article.post, article.widget {
        display: inline-block;
        background-color: $column-text-color;
        margin-bottom: $column-widget-gap;

        padding: $column-widget-paddding;

        overflow: hidden;
        position: relative;
    }

    * {
        display: block;
        position: relative;
    }

    .entry-meta {
        width: 100%;

        * {
            display: inline-block;
        }
    }

}
