/**
 * @file.
 * This file contians information about the colors for this websites. All
 * these colors are specified in two phases, the first is the colorscheme
 * and the second is the individual colors of indiviudal items, this also
 * applies to text though typically with the -text- modifier in the varaible
 * name.
 */
/*============= COLOR SCHEME =============*/
/**
 * Makes content inside of a post show with full width.
 */
/**
 * Makes a background image fill a container...
 */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,300,500,700,800);
/* line 3, ../sass/elements/_base.scss */
html, body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.1em;
}
/* line 13, ../sass/elements/_base.scss */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

/* line 16, ../sass/elements/_base.scss */
a {
  color: inherit;
  text-decoration: underline;
}

/* line 22, ../sass/elements/_base.scss */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: bold;
}

/* line 1, ../sass/elements/_content.scss */
.content-container, .center-content {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 9, ../sass/elements/_content.scss */
.content {
  width: 700px;
  padding: 10px;
}

/* line 1, ../sass/elements/_element-history.scss */
#history {
  min-height: 500px;
}

/* line 1, ../sass/elements/_main-content.scss */
main .factor {
  position: relative;
  width: 100vw;
  padding: 9.58713vw 0;
}

/* line 12, ../sass/elements/_main-content.scss */
main .factor .background {
  position: absolute;
  top: 0;
  right: 0;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  width: 120%;
  height: 100%;
  z-index: -1;
}

/* line 25, ../sass/elements/_main-content.scss */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/nh-surface.jpg);
}

/* line 30, ../sass/elements/_main-content.scss */
#history .background {
  display: none;
}

/* line 31, ../sass/elements/_main-content.scss */
#land .background {
  background-color: #e67e22;
}

/* line 32, ../sass/elements/_main-content.scss */
#capital .background {
  background-color: #34495e;
}

/* line 33, ../sass/elements/_main-content.scss */
#labor .background {
  background-color: #e74c3c;
}

/* line 34, ../sass/elements/_main-content.scss */
#entrepreneur .background {
  background-color: #9b59b6;
}

/* line 35, ../sass/elements/_main-content.scss */
#sources .background {
  background-color: #3498db;
}

/* line 37, ../sass/elements/_main-content.scss */
main .factor .background-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
}
/* line 43, ../sass/elements/_main-content.scss */
main .factor .background-image.dark {
  color: white;
}
/* line 45, ../sass/elements/_main-content.scss */
main .factor .background-image.light {
  color: black;
}

/* line 48, ../sass/elements/_main-content.scss */
.light-text {
  color: white;
}

/* line 49, ../sass/elements/_main-content.scss */
.dark-text {
  color: black;
}

/* line 1, ../sass/elements/_navigation.scss */
#navigation-links {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 19, ../sass/elements/_navigation.scss */
#navigation-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 29, ../sass/elements/_navigation.scss */
#navigation-links ul a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* line 37, ../sass/elements/_navigation.scss */
#navigation-toggle {
  position: fixed;
  opacity: 1;
  z-index: 100;
  right: 30px;
  top: 10px;
  width: 30px;
  height: 30px;
}
/* line 48, ../sass/elements/_navigation.scss */
#navigation-toggle .row {
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #95a5a6;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
/* line 59, ../sass/elements/_navigation.scss */
#navigation-toggle .row:nth-child(1) {
  top: 33.33333%;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 59, ../sass/elements/_navigation.scss */
#navigation-toggle .row:nth-child(2) {
  top: 66.66667%;
  -moz-transition-delay: 0.16667s;
  -o-transition-delay: 0.16667s;
  -webkit-transition-delay: 0.16667s;
  transition-delay: 0.16667s;
}
/* line 59, ../sass/elements/_navigation.scss */
#navigation-toggle .row:nth-child(3) {
  top: 100%;
  -moz-transition-delay: 0.33333s;
  -o-transition-delay: 0.33333s;
  -webkit-transition-delay: 0.33333s;
  transition-delay: 0.33333s;
}

/* line 69, ../sass/elements/_navigation.scss */
#navigation-toggle:hover .row {
  left: 100%;
  opacity: 0;
}

/* line 75, ../sass/elements/_navigation.scss */
#navigation-toggle:hover ~ #navigation-links,
#navigation-links:hover {
  top: 0;
}
